.todaysMatches{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      p{
        background-color: #ffe1af;
        display: flex;
        align-items: center;
        span{
          display: inline-block;
          width: 20px;
          height: 17px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin: -2px 5px 0 5px;
        }
      }
      li{
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
      }
    }
  }
}