.todaysMatches{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      p{
        background-color: #ffe1af;
        display: flex;
        align-items: center;
        font-size: 14px;
        b{
          margin-right: 5px;
        }
        a{
          text-decoration: none;
          color: inherit;
          transition: .3s;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      li{
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
        cursor: pointer;
        transition: .3s;
        position: relative;
        font-size: 12px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        .team{
          width: 30%;
          margin-left: auto;
          text-align: right;
          &.team-right{
            text-align: left;
            margin: 0 auto 0 0;
          }
        }
        .scores{
          font-weight: bold;
          width: 10%;
        }
        .winner{
          font-weight: bold;
        }
        &:hover{
          background-color: rgba(0,0,0, .04);
        }
        .matchTime{
          position: absolute;
          left: 30px;
        }
      }
    }
  }
  .todaysMatches__tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.icon{
  display: inline-block;
  width: 18px;
  height: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -2px 5px 0 5px;
}